# cache & build
__pycache__/
*.egg-info
.mypy_cache/

# vscode
.vscode/

# notebooks
.ipynb_checkpoints/

# TensorBoard logs, model predictions and checkpoints
runs/
results/
models/

# exclude local data and cached graphs
*.csv
*.pkl
*.pdf

# HPC
slurm-*.out
csd3/

# data files
*.json.gz
