# cache & build
__pycache__/
*.egg-info
.mypy_cache/
build/

# vscode
.vscode/

# notebooks
.ipynb_checkpoints/

# TensorBoard logs, model predictions and checkpoints
runs/
results/
models/

# exclude data files and cached graphs
*.pkl
*.pdf
*.json.gz
*.json.bz2

# HPC
slurm-*.out
plots/
datasets/
pds/
manuscript/
voro-thesis/

# run artifacts like model preds, checkpoints, metrics and slurm job logs
examples/**/model_preds/
examples/**/model_scores/
examples/**/job-logs/
examples/**/artifacts/
examples/**/*.csv
wandb/

# profiling
*.prof
