# cache & build
__pycache__/
*.egg-info
.mypy_cache/

# vscode
.vscode/

# notebooks
.ipynb_checkpoints/

# TensorBoard logs, model predictions and checkpoints
runs/
results/
models/

# exclude data files and cached graphs
*.pkl
*.pdf
*.json.gz

# HPC
slurm-*.out
csd3/
