name: Tests

on:
  push:
    paths: ["**/*.py", .github/workflows/test.yml]
    branches: [main]
  pull_request:
    paths: ["**/*.py", .github/workflows/test.yml]
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install dependencies
        run: |
          pip install torch==2.1.0 --index-url https://download.pytorch.org/whl/cpu
          pip install torch-scatter -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
          pip install .[test, pyxtal]

      - name: Run Tests
        run: pytest --capture=no --cov .
